
/* CSS VARIABLES */
:root {
    --base: #f4b225;
    --spacing: 0.5em;
    --blur: 0.5em;
}

/* MAIN PART */

body {
    background:#0015b1;
}

.container {
    text-align: center;
    background: #0015b1;
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.5em; 
    color: cornsilk;
    margin-top: 50px;
}

.title {
 width: 70%;
 margin: auto;
 margin-bottom: 1em;
}

.base-color{
    border-radius: 0.5em;
}
.controls {
    margin-bottom: 1em;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1 {
   color: var(--base); 
}

a {
    color: var(--base);
    text-decoration: none;
}

input {
    width: 100px;
}